.flex-container {
    display: flex;
}

.flex-item-equal-width {
    flex-grow: 1;
}

.right-padding {
    padding-right: 4px;
}

.left-padding {
    padding-left: 4px;
}

.var-textfield-margin {
    padding-top: 20px;
}

.whitespace {
    white-space: pre-line;
}

.center-both-axes {
    justify-content: center;
    align-items: center;
}

.example {
    margin-bottom: 30px;
}